@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: qi;
    src: url(font/drechifont-monospaced.ttf);
    src: url(font/drechifont-monospaced.woff);
}

@font-face {
    font-family: blackti;
    src: url(font/中黑體.ttc);
}

@font-face {
    font-family: Cooper Std;
    src: url(font/AnyConv.com__CooperBlackStd.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* 網頁頂端藍色區塊 */
nav {
    background-color: #C3D6F2;
    text-align: center;
    padding: 14px;
    font-family: Cooper Std;
}

/* 選單列文字 */
nav a {
    padding: 14px 25px;
    display: inline-block;
    color: white;
}

/* 選單列變色 */
nav a:hover {

    color: #789cce;

}

.nav_center li a {
    transition: all 0.3s ease 0s;
}

.nav_center {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav,
ul,
li,
a {
    color: black;
    font-size: 17px;
    font-weight: lighter;
    text-decoration: none;
    letter-spacing: 1px;
}

/* ITEMS子選單 */
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffc6d0;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #ffd6da
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav_right {
    position: absolute;
    right: 180px;
}

li img {
    width: 30px;
}

.space {
    margin-top: 50px;
    /* margin-left: 500px; */
}
.block{
    justify-content: center;
    display: flex;
}
.search {
    padding: 5px;
    display: block;
    width: 500px;
    height: 45px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.575);
    background-clip: padding-box;
    border: 3px solid gray;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.items {
    width: 1600px;
    padding-left: 270px;
    margin-top: 50px;
}

.itemsblock {
    float: left;
    width: 300px;
    margin: 20px 50px 20px 0;
}

.productimg {
    margin-right: 20px;
    width: 300px;
    height: 300px;
}

.productimg img {

    transform: scale(1, 1);
    transition: all .5s ease-out;
    height: 300px;
}

.producttext {
    margin: 5px auto;
    text-align: center;
    padding-top: 20px;
    font-family: qi;
    font-size: 36px;
    color: #2e2e2e;
    justify-content: space-between;
}

.clear {

    clear: both;
}

.space1 {

    margin-top: 150px;
}


footer {

    text-align: center;
    font-size: 15px;
    font-family: Adobe Caslon Pro;
    background-color: #C3D6F2;
    color: white;
    padding: 10px;
}